body{

   top: 0px !important;
   margin-bottom: 0; padding-bottom: 0; padding-top: 55px;
    
}
    .bg-navyblue{
    background: #2facb1 !important;
}
a:hover.non-uper {
    text-transform: none !important;
    text-decoration: none;
    color: white !important;
}
a:hover { 
    color:white !important;
    text-transform: uppercase;
}
.col-navyblue{
    
    color:  #2facb1 !important;
}
.col-white{
    color: white !important;
}
.bg-white{
    background-color:#2facb1 !important;
    
}

.to-uper{
    text-transform: uppercase;
    font-family:sans-serif;
    font-style: normal;
    font-size: 18px;
}

/*  ### start about page  ### */
#gif-photo img{
    width: 100%;
    height: 510px;
    
}



#our-mission{
    padding: 7px 5px 0px 0px;
    background-color: lightgray;
}


#page-title{

    padding: 5px;
    background-color: lightgray;
}
#footer{
    padding: 5px;
    background-color: darkgray;
    
}

/*  ###  end about page ### */

/*  ###  start services page ### */
#thumb-slider{
    width: 100% !important;
    margin: 15 auto !important;
    align-content: center;
    right: 0 ;
    
}

/*  ###  end services page ### */