body{

   top: 0px !important;
   
    
}
    .bg-navyblue{
    background: #2facb1 !important;
}
a:hover { 
    color:white !important;
    text-transform: uppercase;
}
.col-navyblue{
    
    color:  #2facb1 !important;
}
.col-white{
    color: white !important;
}
.bg-white{
    background-color:#2facb1 !important;
    
}

.to-uper{
    text-transform: uppercase;
    font-family:sans-serif;
    font-style: normal;
    font-size: 18px;
}

/* above are the main css  for all pages */

// Example
// Apply styles starting from medium devices and up to extra large devices
@media (max-width: 600px) { 
    .jassor_slide{
        
        width: 200px;
        height: 100px;
    }

}
